<div class="jumbotron text-center font-weight-bold" id="jumbotron"  style="background: url({{site.url}}{{site.baseurl}}/img/timg.jpeg) no-repeat scroll;background-size: cover;">
	<p class="text-white text-center" >2016 NBA finals <a href=https://baike.baidu.com/item/2016NBA%E6%80%BB%E5%86%B3%E8%B5%9B/19860155?fr=aladdin>Clevelanders win</a></p>
	<p class="display-4 text-white">Clevelanders</p>
	<p class="text-white text-center" >June 19,2016</p>
	<p class="text-white text-center" >Github: <a href="https://github.com/LuoDongXu1999/gitskills">Project Gaia</a></p>
	<p class="lead">
		<a class="btn btn-secondary" href="intro/2017/02/05/helloworld.html" role="button">What's New?</a>   
	</p>
</div>